@fontFamilyHeadings: "Playfair Display";
@fontFamilyBody:     "Source Sans Pro";
@fontSizeH1: 1.875em;

@bodyColor: #348642;
@desktopMenuColor: #fff;
@imgBorder: 6px solid #fff;
@siteLogoColor: #fff;
@hColor: #fff;
@pColor: #f8f9fa;
@tocLiColor: #ccc;
@tocSelectedColor: #fff;
@iconBG: #fff;
@iconColor: #111;
@linkColor: #f8f9fa;
@dropDownColor: #348642;

@codeColor: #111;
@codeBG: #fff;

@footerBorder: solid 1px #f1f1f1;

@headingBorder: #fff;
