@fontFamilyHeadings: "Playfair Display";
@fontFamilyBody:     "Source Sans Pro";
@fontSizeH1: 1.875em;

@bodyColor: #1a1a1a;
@desktopMenuColor: #EEEEEE;
@imgBorder: 3px solid #fff;
@siteLogoColor: #EEEEEE;
@hColor: #EEEEEE;
@pColor: #CCCCCC;
@tocLiColor: #CCCCCC;
@tocSelectedColor: #EEEEEE;
@iconBG: #EEEEEE;
@iconColor: #000000;
@linkColor: #EEEEEE;
@dropDownColor: #000000;

@codeColor: #fff;
@codeBG: #000;

@footerBorder: solid 1px #f1f1f1;

@headingBorder: #fff;
