/**
 * Base style to affect HTML elements on a general scale.
 */

 * {
     box-sizing: border-box;
 }

 // Activate the grid base font
body {
    #desinax-hgrid.font(@fontSizeBody);
    background-color: #f0f4f4;
    overflow-x: hidden;
}

// Activate grid and affect all typographic elements
#desinax-hgrid.activateDefaultTypography();

 img {
    width: 100%;
    border: 4px solid #fff;
    border-radius: 3px;
 }

 .site-logo,
 .site-logo-text-icon {
    display: none;
 }

 .byline {
    display: flex;
    align-items: center;
 }

.byline img {
    width: 75px;
    height: 75px;
    margin-right: 1rem;
    border-radius: 50%;
}

.fab {
    box-sizing: border-box;
    background: #111;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    text-align: center;
    line-height: 1.8!important;
    padding: 3px;
    font-size: 11px;
    transition: all .5s;
    color: #fff;
}

.site-logo-text a {
    font-size: 1.25em;
    text-decoration: none;
    color: #111;
    text-transform: capitalize;
}

.site-footer p,
.footer-column p {
    line-height: 3;
}

.rm-max.rm-navbar {
    position: unset !important;
}

ul {
    list-style: none;
    padding-left: 0;
}

a {
    color: inherit;
}

.next-previous {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row-reverse;
}

.breadcrumb-list > ul > li {
    display: inline;
}

.breadcrumb-list > ul > li:not(:last-child) {
    margin-right: 1rem;
}

p {
    color: #666;
}


.toc > li {
    color: #999;
}

.toc > .selected {
    color: #000000;
}

.rm-button {
    line-height: 1;
}
