/**
 * Layout style for general structure of header, navbar, main, footer
 * and other regions of the page including route specific styles.
 */

/**
 * Variables
 */

 @ms: 4.5rem;
 @ss: 2.5rem;

.wrap-all {
    max-width: 67.5rem;
    width: 80%;

    margin-left: auto;
    margin-right: auto;
}

.outer-wrap-header {
    padding-top: @ms;
    padding-bottom: @ms;
}

.region-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}



.outer-wrap-flash {
    // padding-top: @ms;
    // padding-bottom: @ms;
    // border-top: 2px solid #fff;
    // border-bottom: 2px solid #fff;
}

.outer-wrap-main {
    width: 80%;

    margin-left: auto;
    margin-right: auto;

    padding-top: @ss;
    padding-bottom: @ss;
}

.outer-wrap-breadcrumb,
.outer-wrap-footer {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.breadcrumb-list ul {
    list-style: none;
    padding: 0;
    display: flex;
}

.breadcrumb-list ul li:not(:last-child) {
    margin-right: 1rem;
}

.breadcrumb-list ul li a {
    color: #111;
}

.footer-column-wrapper {
    display: flex;
    justify-content: space-between;
    padding: 1rem 0;
    border-top: 2px solid #fff;
}

.footer-column {
    flex: 1;
}

.footer-column-2 {
    display: none;
}

.footer-column-3 {
    text-align: right;
}

.site-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 0;
    border-top: 2px solid #fff;
}

.toc {
    list-style: none;
    padding: 0;
}

.toc li {
    margin-bottom: 0.125rem;
}

.toc li a {
    color: #999;
    text-decoration: none;
}

.selected a {
    color: #111 !important;
}

.next-previous {
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
}

.inner-wrap-main .row {
    display: flex;
}

.inner-wrap-main .row .region-sidebar-left {
    margin-right: @ms;
    min-width: 10rem;
}

.inner-wrap-main .row .region-sidebar-right {
    margin-left: @ms;
    min-width: 10rem;
}

.inner-wrap-main .row .region-sidebar-left h4 {
    margin-top: 0;
}

.next a,
.previous a {
    color: #111;
}
